{
  "openapi": "3.1.0",
  "info": {
    "title": "PUID API",
    "version": "1.0.0",
    "summary": "Probably Unique IDentifier.",
    "description": "Two endpoints: generate identifiers, and decode one back to its ordinal. Authenticate with an API key (X-API-Key). Rate limited to one request per second.",
    "contact": {
      "name": "PUID",
      "url": "https://puid.dev"
    },
    "license": {
      "name": "AGPL-3.0"
    }
  },
  "servers": [
    {
      "url": "https://puid.dev/api",
      "description": "API base (one request per second, per account)"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "ids",
      "description": "Get and decode identifiers"
    }
  ],
  "paths": {
    "/v1/ids": {
      "get": {
        "tags": [
          "ids"
        ],
        "operationId": "generate",
        "summary": "Generate 1 to 10 PUIDs",
        "description": "Returns between 1 and 10 identifiers. Rate limited to one request per second. Subject to a daily quota.",
        "parameters": [
          {
            "name": "n",
            "in": "query",
            "required": false,
            "description": "How many ids to generate (1-10).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A batch of fresh, guaranteed-unique ids.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Daily quota exceeded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "One request per second.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ordinal/{puid}": {
      "get": {
        "tags": [
          "ids"
        ],
        "operationId": "ordinal",
        "summary": "Decode a PUID back to its ordinal",
        "description": "Decodes a PUID to reveal the counter value it encodes.",
        "parameters": [
          {
            "name": "puid",
            "in": "path",
            "required": true,
            "description": "A PUID returned by /v1/ids.",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-Za-z]{1,22}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The decoded ordinal.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrdinalResponse"
                }
              }
            }
          },
          "400": {
            "description": "Not a valid PUID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/quota": {
      "get": {
        "tags": [
          "ids"
        ],
        "operationId": "quota",
        "summary": "Check your daily quota",
        "description": "Returns today's usage and remaining quota for the calling account. Does not spend an id.",
        "responses": {
          "200": {
            "description": "Current quota.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuotaResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "A team API key (puid_live_...). Mint one in the dashboard after signing in with Google or Microsoft."
      }
    },
    "schemas": {
      "IdsResponse": {
        "type": "object",
        "required": [
          "ids",
          "count"
        ],
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "count": {
            "type": "integer"
          },
          "quota": {
            "type": "object",
            "properties": {
              "used": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              }
            }
          },
          "warning": {
            "type": "string"
          }
        }
      },
      "OrdinalResponse": {
        "type": "object",
        "required": [
          "puid",
          "ordinal"
        ],
        "properties": {
          "puid": {
            "type": "string"
          },
          "ordinal": {
            "type": "string"
          }
        }
      },
      "QuotaResponse": {
        "type": "object",
        "required": [
          "plan",
          "used"
        ],
        "properties": {
          "plan": {
            "type": "string"
          },
          "used": {
            "type": "integer"
          },
          "limit": {
            "type": [
              "integer",
              "null"
            ]
          },
          "remaining": {
            "type": [
              "integer",
              "null"
            ]
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}